.top-wrapper
  .top-header
    - if user_signed_in?
      .top-header__username
        %p こんにちは&nbsp;
        %span #{current_user.name}
        %p さん&nbsp;&nbsp;&nbsp;
        = link_to 'ログアウト', destroy_user_session_path, method: :delete, id:"registrations_btn"
    - else
      .top-header__username
        %p こんにちは
        %span ゲスト
        %p さん

  .main-visual
    %h1 思い出の写真を共有しよう

  .top-footer
    - if user_signed_in?  
      &nbsp;&nbsp;
      = link_to 'ホーム画面へ', post_path(current_user.id), method: :get, id:"registrations_btn"
    - else
      = link_to '新規登録',  new_user_registration_path, method: :GET, id:"registrations_btn"
      = link_to 'ログイン',  new_user_session_path, method: :GET, id:"registrations_btn"
