.wrapper
  .header
    .header__menu
      .header__menu__contents
        .header__menu__contents__home
          //turbolinksを切らないと、「ホーム」を押下した際にモーダルが表示されない
          = link_to 'ホーム', post_path(current_user.id) , class:"link_btn", "data-turbolinks": false
        .header__menu__contents__recentsituation
          = link_to '近況', posts_situation_path , class:"link_btn"
        .header__menu__contents__configuration
          = link_to '設定', "#" , class:"link_btn"
      - if user_signed_in?
        .header__menu__contents__username
          %p こんにちは&nbsp;
          %span #{current_user.name}&nbsp;
          %p さん
          %span
        = link_to 'ログアウト', destroy_user_session_path, method: :delete, id:"logout_btn"
      - else
        .header__menu__contents__username
          %p こんにちは&nbsp;
          %span ゲスト&nbsp;
          %p さん
        -# = link_to 'ログイン', new_user_session_path, method: :GET, id:"login_btn"
  
  .main-field
    .main-field__image
      .main-field__image__image-erea
        /@postにはposts_contorollerのindexアクションでpostsテーブルの中身が全て代入してある。
        /それをeachで要素数分繰り返し処理する。
        - @post.each do |post|
          //ログインしていて、なおかつ現在のログインユーザーidと画像投稿時に紐づけたidが一致して入れば画像の表示および削除が可能
          - if user_signed_in? && current_user.id == post.user_id
            = image_tag post.image.url, alt: "animal" , class: "thumbnail-image", id: "change-photo"
            = link_to '削除', post_path(post.id), method: :delete, class: "delete_btn"

      .image-modal-wrapper
        .image-modal
          /モーダルにfontawesameでバツのアイコン表示
          %i.fa.fa-2x.fa-times
          .bigimg
            %img{:alt => "", :src => ""}
            

      -# .main-field-btn
      -#   .main-field-btn__foward-btn
      -#     = link_to '前へ', "#" , class:"link_btn"
      -#   .main-field-btn__next-btn
      -#     = link_to '次へ', "#" , class:"link_btn"
  
  .footer
    .footer__form
      = form_with model: @post, url:posts_path, method: :post, local: true do |form|
        = form.file_field :image, class:'image-form'
        = form.submit '追加する', class:'image-btn'